
/***公共样式****/
body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}	

ol, ul{list-style:none;}

html { overflow-x:hidden; -webkit-text-size-adjust:none; }
body { font-size:14px; font-family:microsoft yahei,Arial; color:#333333; min-width:320px; max-width:640px; margin:0 auto;overflow:hidden;
    }

/*a 链接*/
a { text-decoration:none; outline:none; }
a:link { color:#333333; }
a:visited { color:#333333; }
a:hover, a:active, a:focus { color:#e50005;}


/*图片居中*/
fieldset, img { border:0; vertical-align:middle}
img{max-width:100%;}

/*浮动*/
.fl {float:left; display:inline}
.fr {float:right; display:inline}
.clear { clear:both}
.clearfix { *zoom:1;}
.clearfix:after{clear:both; display:block; height:0; visibility:hidden; line-height:0; content:'\20';}

/* HTML5 重置为较旧版本的浏览器 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse: collapse; border-spacing: 0; }


/*字体大小、缩进*/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.t2{text-indent:2em;}


/*上下间距*/
.mb5 { margin-top:5px;}
.mb10{ margin-top:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}